.ks-container-error {
   margin: 2.5vw 6vw;
   height: 100%;
   display: grid;
   grid-template-rows: auto 1fr;
}

.ks-status-error {
   font-size: 288px;
   display: flex;
   justify-content: center;
}
.ks-message-error {
   display: flex;
   margin: auto;
   justify-content: center;
   text-align: center;
   font-weight: 500;
   font-size: 36px;
}

.ks-return {
   display: flex;
   justify-content: center;
   align-items: center;
}

.ks-return-link {
   cursor: pointer;
   font-size: 500;
   font-size: 18px;
   text-decoration: underline;
   color: #ff6060;
}

#ks-error-page {
   height: 100%;
   display: grid;
   grid-template-rows: auto auto 1fr;
   width: 100%;
}

@media (max-width: 600px) {
   #ks-error-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .ks-status-error {
      font-size: 25vw;
   }
   .ks-message-error {
      margin: 0;
      width: 70%;
      font-size: 5vw;
      align-self: center;
   }
   .ks-return {
      height: 50%;
   }
   .ks-return-link {
      font-size: 5vw;
   }
}
