.ks-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2vw;
}

.ks-logo {
   width: 15vw;
   cursor: pointer;
}

@media (max-width: 600px) {
   .ks-header {
      margin-bottom: 4vw;
   }
   .ks-logo {
      width: 40vw;
   }
}
