.ks-profile-container {
   display: flex;
}

.ks-host-name {
   font-size: 2.8vw;
   font-weight: 500;
   display: inline;
   width: min-content;
   margin-right: 10px;
}

.ks-profile-picture {
   border-radius: 50%;
   width: 10vw;
}

@media (max-width: 600px) {
   .ks-host-name {
      font-size: 12px;
   }
   .ks-profile-picture {
      min-width: 32px;
      min-height: 32px;
   }
}
